.THIS .slds-icon {
    text-align:center;
}
.THIS .slds-truncate {
    white-space: pre-wrap;
}

.THIS .slds-light-blue {
    background-color: rgb(226, 0, 0) !important;
    font-weight: bold;    
}

.THIS .slds-indent {
    margin-left:15px;
}

.THIS .slds-col-label {
    float:left;
    clear:both;
}

.THIS .slds-help {
    margin-top:-.2rem;
    margin-right:1rem;
}
.THIS .slds-grid_align-end{
    justify-content: flex-start !important;
}


.THIS .slds-scrollable_x {
    overflow-y:visible !important;
    overflow-x:visible !important;
}

.THIS .slds-scrollable_y {
    overflow-y:visible !important;
    overflow-x:visible !important;
}

.THIS lightning-primitive-header-actions {
    display: none;
}