.THIS .filterSelect{
    width: 250px;
}
.THIS .headerLayout{
    width: 1800px;
}
/*.THIS .headerCol{
    width: 320px;
}*/
.THIS .headerColWide{
    width: 800px;
}
.THIS .totalsRow{
    font-weight: bold;

}