.btn{
    
        height: 40px;
        width: 130px;
        border: 1px solid rgb(116, 116, 116);
        background: #efefef;
        color: #595959; 
        border-radius: 5px;  
        font-weight: bold;
    }
.slds-form-element__icon .slds-button_icon{
 display: none;
}