.btn{
	top:-2px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
	background-image: linear-gradient(#fcfcfc, #d8d8d8);    
}
.btn{
	margin-right: 10px;
}
.space{
	width: 115px;
}
.btn-container{
	display: flex;
}
.btn:hover{
             border:1px solid #a1a1a1;
             background-image: -o-linear-gradient(top, #d8d8d8,#fcfcfc);
             background-image: linear-gradient(to bottom,  #d8d8d8, #fcfcfc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d8d8d8, endColorstr=#fcfcfc);
}
.error{
    font-size:16px;
    font-family: serif, Georgia, helvetica;
    color: red;
}
.heading{
    font-weight: bold;
    font-size: 20px;
    padding: 0 0 8px;
    color: #000000;
    padding-top: 15px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.one{
    color:#002bad;
    font-size:13px;
    padding-bottom:40px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.comman{
    font-size:14px;
    padding-bottom:20px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.submit{
    font-size:15px;
    font-weight:bold;
    padding-bottom:20px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.offer{
    top:-2px;
    margin-top: 40px;
    margin-right: 10px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
    background-image: linear-gradient(#fcfcfc, #d8d8d8);    
}
.offer:hover{
      border:1px solid #a1a1a1;
             background-image: -o-linear-gradient(top, #d8d8d8,#fcfcfc);
             background-image: linear-gradient(to bottom,  #d8d8d8, #fcfcfc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d8d8d8, endColorstr=#fcfcfc);
}
.submitofferbgcolor{
     top:-2px;
    margin-top: 40px;
    margin-right: 10px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #5b8010;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #FFFFFF;
    padding-bottom: 24px; 
	background-image: linear-gradient(#a0d13c, #5b8010);    
}
.submitofferbgcolor:hover{
             border:1px solid #5b8010;
             background-image: -o-linear-gradient(top, #5b8010,#a0d13c);
          
             background-image: linear-gradient(to bottom,  #5b8010, #a0d13c);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5b8010, endColorstr=#a0d13c);
}
.h3 {
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px solid #cccccc;
    padding: 0 0 8px;
	font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
    color: #002BAD;
}
.table{
    font-size: 12px;
    margin-left: 0px; 
    background-color: #fff;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
    border: 1px dotted gray;

}
.rows{
    height: 70px;
    background-color:#999999;
    border: 1px dotted gray;
}
.rows1{
    height: 70px;
     border: 1px dotted gray;
    /* border-style: dotted; */
}
.rows1:hover{
    background-image: -o-linear-gradient(#ccc);
    background-image: linear-gradient(#ccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ccc, endColorstr=#ccc);
}
.col{
    border: 1px ;
    border-style: dotted;
    padding-left: 5px;
}
.offerTitle {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    padding-bottom: 8px;
    padding-top: 20px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.table1{
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}

.page_titile_heading{
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px solid #cccccc;
    padding: 0 0 8px;
    color: #002BAD;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.table1 .slds-radio_faux{
    background: #002bad !important;
}
.error{
    font-size:16px;
    font-family: serif, Georgia, helvetica;
    color: red;
}
.error ul{
    list-style: none;
}
lightning-radio-group .slds-form-element__control{
    display: flex !important;
}
.single-line {
    --slds-c-button-line-height: 2.875rem;
}
:host {
    --slds-c-radio-mark-color-foreground: #0075ff;
}
.slds-form_horizontal .slds-form-element .slds-form-element__control{
    display: flex;
    padding-left: 60px;
    margin-right: 70px;
}