.THIS .slds-light-blue {
    background-color: rgb(226, 237, 255)!important;
    font-weight: bold;
    border-color: #dee2e6;    
}
.THIS .slds-border_bottom{
    border-bottom: solid;
    border-width: 1px;
    border-color: inherit;
}
.THIS .slds-border_top{
    border-top: solid;
    border-width: 1px;
    border-color: inherit;
}
.THIS .slds-text-title_caps {
    color:rgb(22, 50, 92);
    font-weight: bold;
}
.THIS .small-heading {
    font-weight: bold;
    text-decoration: underline;
}
.THIS .small-heading-light {
    font-weight: 400;
}
.THIS .slds-indent {
    margin-left:10px;
}
.THIS .slds-field-bold {
    font-weight: bold;
}
.THIS .slds-level-zero {
    margin-left: 10px;
}
.THIS .slds-level-one {
    margin-left: 20px;
}
.THIS .slds-level-two {
    margin-left: 40px;
}
.THIS .slds-level-three {
    margin-left: 60px;
}
.THIS .slds-level-four {
    margin-left: 80px;
}
.THIS .slds-level-five {
    margin-left: 100px;
}
.THIS .slds-level-six {
    margin-left: 120px;
}
.THIS .slds-level-seven {
    margin-left: 140px;
}