.THIS .grid-container{
     padding-left:  .1rem;
     padding-right: 1rem;
    
}
@media (min-width: 1024px) {
    .THIS .usa-card__img {
    	width: 95%;
    }
}
@media (max-width: 768px) and (min-width: 480px) {
    .THIS .usa-card__img {
    	width: 95%;   
    }
}