.THIS .tax-summary-container {
	border-bottom: 1px solid #004F87;
	margin-bottom: 1em; }

/* Document List Styles */
.THIS .doc-upload-list {
    float: left;
}
.THIS .doc-type-list {
    background-color: #00467F;
    border: 1px solid #7FA6C3;
    color: #fff;
    float: right;
    padding: 10px;
    font-size: 0.8rem;
    width: 270px; } 
	.THIS .doc-type-list ul {
    	margin: 12px 0;
    	padding-left: 24px; }
		.THIS .doc-type-list ul li {
			color: #dae7f1;
	    	padding: 4px 2px;
	    	list-style-type: disc;
	    	line-height: 14px; }
/*Edit Tax Button*/
.THIS .SaveChanges{
    color:#FFFFFF;
}
/*Continue Button*/
.THIS .Continue{
    color:#FFFFFF;
}