.btn{
	top:-2px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
	background-image: linear-gradient(#fcfcfc, #d8d8d8);    
}
.btn{
	margin-right: 10px;
}
.space{
   width: 290px;
}
.btn-container{
	display: flex;
}
.btn:hover{
             border:1px solid #a1a1a1;
             background-image: -o-linear-gradient(top, #d8d8d8,#fcfcfc);
             background-image: linear-gradient(to bottom,  #d8d8d8, #fcfcfc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d8d8d8, endColorstr=#fcfcfc);
}
.error{
    font-size:16px;
    font-family: serif, Georgia, helvetica;
    color: red;
}
.submit{
    font-size:15px;
    font-weight:bold;
    padding-bottom:20px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}