.btn{
	top:-2px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
	background-image: linear-gradient(#fcfcfc, #d8d8d8);    
}
.btn{
	margin-right: 10px;
}
.space{
   width: 500px;
}
.btn-container{
	display: flex;
}
.finalOff{
	top:-2px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
	background-image: linear-gradient(#ffff00, #BFBF00);    
}
.btn:hover{
             border:1px solid #a1a1a1;
             background-image: -o-linear-gradient(top, #d8d8d8,#fcfcfc);
             background-image: linear-gradient(to bottom,  #d8d8d8, #fcfcfc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d8d8d8, endColorstr=#fcfcfc);
}
.finalOff:hover{
             border:1px solid #999900;
             background-color: #cccc00; background-image: -webkit-gradient(linear, left top, left bottom, from(#cccc00), to(#8c8c00));
             background-image: -webkit-linear-gradient(top, #cccc00, #8c8c00);
             background-image: -moz-linear-gradient(top, #cccc00, #8c8c00);
             background-image: -ms-linear-gradient(top, #cccc00, #8c8c00);
             background-image: -o-linear-gradient(top, #cccc00, #8c8c00);
             background-image: linear-gradient(to bottom, #cccc00, #8c8c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cccc00, endColorstr=#8c8c00);
        }

.error{
    font-size:16px;
    font-family: serif, Georgia, helvetica;
    color: red;
}
.heading{
    color: #002BAD;
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px solid #cccccc;
    padding: 0 0 8px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.one{
    color:#002bad;
    font-size:13px;
    padding-bottom:40px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.comman{
    font-size:14px;
    padding-bottom:20px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.submit{
    font-size:15px;
    font-weight:bold;
    padding-bottom:20px;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.offer{
    top:-2px;
    margin-top: 40px;
    margin-right: 10px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
    background-image: linear-gradient(#fcfcfc, #d8d8d8);    
}
.offer:hover{
      border:1px solid #d8d8d8;
             background-image: -o-linear-gradient(top, #d8d8d8,#fcfcfc);
             background-image: linear-gradient(to bottom,  #d8d8d8, #fcfcfc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d8d8d8, endColorstr=#fcfcfc);
}
.submitofferbgcolor{
    top:-2px;
    margin-right: 0px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #5b8010;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #FFFFFF;
    padding-bottom: 24px; 
	background-image: linear-gradient(#a0d13c, #5b8010);    
}
.submitofferbgcolor:hover{
             border:1px solid #5b8010;
             background-image: -o-linear-gradient(top, #5b8010,#a0d13c);
          
             background-image: linear-gradient(to bottom,  #5b8010, #a0d13c);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5b8010, endColorstr=#a0d13c);
}
.h3 {
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px solid #cccccc;
    padding: 0 0 8px;
	font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
    color: #002BAD;
}
.table{
    font-size: 12px;
    margin-left: 0px; 
    background-color: #fff;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
    border: 1px dotted gray;

}
.rows{
    height: 70px;
    background-color:#999999;
    border: 1px dotted gray;
}
.rows1{
    height: 70px;
     border: 1px dotted gray;
    /* border-style: dotted; */
}
.rows1:hover{
    background-image: -o-linear-gradient(#ccc);
    background-image: linear-gradient(#ccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ccc, endColorstr=#ccc);
}
.col{
    border: 1px ;
    border-style: dotted;
    padding-left: 5px;
}
.offerTitle {
    font-size: 16px;
    color: #002bad;
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 10px;
   font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.table1{
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}

.page_titile_heading{
    font-weight: bold;
    font-size: 28px;
    border-bottom: 1px solid #cccccc;
    padding: 0 0 8px;
    color: #002BAD;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.slds-radio .slds-radio_faux:after{
    background: #002bad;
}
.header{
    top:20px;
    position: relative;
    font-family:Segoe UI, Trebuchet, Arial, Sans-Serif;
    font-size: 18pt;
    font-weight: 650;
    color: #000000;
}
.table{
    border : 0px;
    font-size: 12px;
    align: center;
    margin-left: 0px; 
    margin-top:35px;
    background-color: #eeeeee;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}

.table-container {
    width: 100%;
    background-color: #eeeeee;
}

.tablecss {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #999;
    background-color: #eeeeee;
}

.tdcss {
    padding: 10px;
    border: 1px solid #999;
    font-size: 14px;
    width: 33.33%;
    vertical-align: top;
    
}
.blueMessage{
    color: #002BAD;
    font-weight: bold;
    font-size: 18px;
}
.green_button{
    background-image: linear-gradient(#a0d13c, #5b8010);
}
.viewMode {
    color:red;font-size: 16px;font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.aaap_btn{
    width: 235px;
}