.btn{
	top:-2px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
	background-image: linear-gradient(#fcfcfc, #d8d8d8);    
}

.btn{
	margin-right: 10px;
}
.btn-container{
	display: flex;
    padding-top: 20px;
    padding-left: 50px;
}

.arrow {
    cursor: pointer;
    margin-left: 5px;
    font-size: 0.8em;
}

.slds-table thead th {
    background-color: #053771; /* Change this color as needed */
    padding: 10px;
    text-align: left;
    color:white;
    border-bottom: 2px solid #ddd; /* Optional: add a border for better visibility */
}
.header{
    top:20px;
    position: relative;
    font-family:Segoe UI, Trebuchet, Arial, Sans-Serif;
    font-size: 18pt;
    font-weight: 650;
    color: #0e0f0f;
}