.suggestive-search1 {
    --slds-c-input-color-background: #eeeeee;
    --slds-c-input-border-radius: 5px;
    --lwc-borderWidthThin: 1px;
    --slds-c-input-color-border: #999;
    --slds-form-element__label: black;
    
}
.custom-input {
    --slds-c-input-color-background: #eeeeee;
    --slds-c-input-border-radius: 5px;
    --lwc-borderWidthThin: 1px;
    --slds-c-input-color-border: #999;    
}
.custom-input textarea{
    background: #ccc;
}
.custom-border {
    border: 1px solid  #999;
    min-height: 35px;
    line-height: 1.5;
    width: 35px;
    text-align: left;
    display:inline-block;
    padding-top: 10px;
    color: #333333;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
    font-size:13px;
    background-color: #eeeeee;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    padding-bottom: 10px; 
    padding-left: 10px;
    flex-direction: row;
}
.btn{
	top:-2px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
	background-image: linear-gradient(#fcfcfc, #d8d8d8);  
    margin-left: -20px;
    margin-top: -22px;  
}
.btn{
	margin-right: 20px;
}
.btn-container{
	display: flex;
    padding-top: -125px;
}

.input-short {
    width: 250px;
    
}
.btn1{
	top:-2px;
    width: 100px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
	background-image: linear-gradient(#fcfcfc, #d8d8d8);  
      
}
.btn1{
	margin-right: 20px;
}
.btn-container1{
	display: flex;
    padding-top: -125px;
}
.header{
    font-weight: bold;
    color: #070808;
}
.error-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #69c0d830;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    border-left: 5px solid #87ceeb;
    margin-top: 1rem;
}

.error-icon {
    margin-right: 0.5rem;
    color: black;
}

.error-message h2 {
    font-size: 1.2rem;
    color: black;
    margin: 0;
    font-weight: bold;
}

.error-message p {
    font-size: 1rem;
    color: black;
    margin: 0.5rem 0;
}
.error-header{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.error-header lightning-icon{
    margin-right: 0.5rem;
    color: #000000;
    --sds-c-icon-color-foreground: rgb(38 37 37);
    
} 
.slds-icon-text-default {
    --slds-c-icon-color-foreground: rgb(8, 8, 8);margin-top: -60px;
    
    
}
.slds-text-color_error{
    color :#000;
    margin-left: 5px;
}
.error{
    font-size:16px;
    font-family: serif, Georgia, helvetica;
    color: red;
}
.btn2{
	top:-2px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 11px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
    margin-top: -2px;
	background-image: linear-gradient(#fcfcfc, #d8d8d8);    
}
.btn3{
	top:-2px;
    width: 155px;
    height: 21px;
    text-align: center;
    border:1px solid #a1a1a1;
	border-radius: 3px !important;
    font-size:12px;
    font-family:arial, helvetica, sans-serif;
    padding: 14px 10px;
    text-decoration:none;
    display:inline-block;
    color: #333333;
    padding-bottom: 24px; 
    margin-top: -2px;
	background-image: linear-gradient(#fcfcfc, #d8d8d8);    
}
.btn{
	margin-right: 10px;
}
.btn-container{
	display: flex;
    padding-top: 20px;
}
.btn-container1{
	display: flex;
    padding-top: 20px;
}
.btn2{
	margin-right: 10px;
}
.error-header1{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    margin-right: 1rem;
}
.label-input-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 479px) {
    .input-container {
        flex-direction: column;
    }

    .input-container input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn{
        top:-2px;
        width: 155px;
        height: 21px;
        text-align: center;
        border:1px solid #a1a1a1;
        border-radius: 3px !important;
        font-size:12px;
        font-family:arial, helvetica, sans-serif;
        padding: 11px 10px;
        text-decoration:none;
        display:inline-block;
        color: #333333;
        padding-bottom: 24px; 
        background-image: linear-gradient(#fcfcfc, #d8d8d8);  
        margin-left: 0px;
        margin-top: 0px;  
    }
}

@media (min-width: 500px) {
    .input-container {
        flex-direction: column;
    }

    .input-container input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn{
        top:-2px;
        width: 155px;
        height: 21px;
        text-align: center;
        border:1px solid #a1a1a1;
        border-radius: 3px !important;
        font-size:12px;
        font-family:arial, helvetica, sans-serif;
        padding: 11px 10px;
        text-decoration:none;
        display:inline-block;
        color: #333333;
        padding-bottom: 24px; 
        background-image: linear-gradient(#fcfcfc, #d8d8d8);  
        margin-left: 20px;
        margin-top: -20px;  
    }
}

@media (min-width: 500px) and (max-width:630px) {
    .input-container {
        flex-direction: column;
    }

    .input-container input {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .btn{
        top:-2px;
        width: 155px;
        height: 21px;
        text-align: center;
        border:1px solid #a1a1a1;
        border-radius: 3px !important;
        font-size:12px;
        font-family:arial, helvetica, sans-serif;
        padding: 11px 10px;
        text-decoration:none;
        display:inline-block;
        color: #333333;
        padding-bottom: 24px; 
        background-image: linear-gradient(#fcfcfc, #d8d8d8);  
        margin-left: 10px;
        margin-top: -9px;  
    }
}