.slds-modal__header {
    background-color: #f4f6f9;
}
.slds-modal__content {
    text-align: center;
}
.infopopup1 {
    background-color:white !important;
    position:fixed !important;
    display:inline-block;
    top:calc(26% + 200px)!important;
    left:41% !important;
    margin-left:-350px !important;
    margin-top:-350px !important;
           
 }

 table td{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.formwrap td {
	color:#666666;
	font-size:14px;
	line-height:145%;
	padding-top:20px;
	letter-spacing:.01em;
}