.slds-modal__container {
    position: relative;
    max-width: 100rem !important;
    width:100% !important;
   
    height: 100% !important;   
}
.slds-modal__footer{
    justify-content: center;
}
.slds-card{
    background-color: #eeeeee;
    padding-inline: 2;
}