.THIS .slds-truncate {
    white-space: pre-wrap;
}

.THIS .leftPaddingClass {
    padding-left: 2rem;
} 

.THIS .slds-desc {
    border:none;
    padding:0;
    line-height: inherit;
    font-size: 95%;
    width:100% !important;
    height:55px !important;
}

.THIS .pillSize{
 width:100%;
}
.THIS .slds-comment {
    height:158px !important;
    font-size: 95%;
    line-height: inherit;
    padding-top:5px;
    
}
.THIS .slds-width-fill{
    width: -webkit-fill-available;
}
.THIS .slds-docked-form-footer {
    position:sticky;
    /* background:white;
    box-shadow: none;
    border-style:solid none none none;
    border-color:whitesmoke;
    border-width:unset; */
}