.THIS .menu-icon {
    margin:3px 5px 0 0;
}
.THIS .slds-button_success {
    color:white;
    background-color:rgb(50,160,97);
    border-color:rgb(47,139,86);
}
.THIS .color-text-required {
    color:rgb(194, 57, 52);
    font-weight: lighter;
    font-size:smaller;
}
.THIS .msg{
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}
.THIS .info-msg {
    color: #059;
    background-color: #BEF;
  
}
  .THIS .warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
    fill:  #9F6000;
}
.THIS .num-icon svg {
    fill: #059;
}

.THIS .warn-icon svg {
    fill:  #9F6000;
}
.THIS.cew-foot{
    padding: .5% 1.5%;
    color: red;
}
.THIS.item-container{
    margin: 4% 0%;
    padding-bottom: .1%;
}