.THIS .sectionHeader{
    font-size: 1.2em;
}
.THIS .labelCol{
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
}
.THIS .dataCol{
    font-size: 0.8em;
}
.THIS .printHeader{
    text-align: right;
}