.slds-button .slds-button_destructive{
    --slds-c-button-destructive-font-color : white;
}
.custom-table-heading{
    font-size: 20px;
    font-weight: bold;
    font-family: Segoe UI, Trebuchet, Arial, Sans-Serif;
}
.datatable td, .datatable th{
    border: 1px solid black !important;
}
.slds-table_header-fixed_container{
    background: #999 !important;
}