.THIS .loading-text {
    color: #2574A9;
    display: block;
    font-weight: bold;
    position: absolute;
    left: 47%;
    bottom: 16px;
}
.THIS #ret-upload-spinner { position: relative; }
.THIS#ret-document-list { width: 650px; }
.THIS #attach-document-button {
    float: right;
    position: relative;
    top: -30px;
}
.THIS .tax-document-list { margin-top: 1em; }
	.THIS .tax-document-list>li { margin-bottom: 1em; }
	.THIS .tax-document-list li { margin-left: 2em; }
	.THIS .tax-document-list h3 { color: #004F87; margin-bottom: 0.5em; font-size: 20px; font-weight: normal; }
	.THIS .tax-document-list h3 svg { padding: 0 5px 2px 5px; }
	.THIS .tax-document-list .add-icon {
		position: relative;
		left: 8px;
    	top: 4px; }
		.THIS .tax-document-list .add-icon:hover { cursor: pointer; opacity: 0.7; }
	.THIS .tax-document-file { padding: 5px 0 4px 0; }
		.THIS .tax-document-file svg {
			margin-right: 7px;
    		position: relative;
    		bottom: 2px; }

.THIS #ret-document-list-container { padding-top: 2em; }
	.THIS #ret-document-list-container ul li {
    	color: #00467F;
    	font-weight: bold; }

.THIS .ret-document-list {
    margin: 0 0 1.5em 2em;
    width: calc(100% - 2em); }    	
	.THIS .ret-document-list td.doc-links {
    	font-weight: normal;
    	text-align: center;
    	width: 134px; }
		.THIS .ret-document-list td.doc-links a {
    		color: #2574AB;
    		font-size: 0.9em;
    		text-decoration: underline; }
		.THIS .ret-document-list td.doc-links a:hover {
    		color: #174769; }
    .THIS .ret-document-list td.doc-name svg {
    	margin-right: 0.5em;
    }
	.THIS .ret-document-list td {
		background-color: #fbfbfb;
	    padding: 4px;
	    border: 1px solid #dadada; }
    			
/* File Upload Styles */
.THIS .ret-upload-container {
	height: 400px;
	overflow-y: scroll;
}
.THIS .ret-upload-container iframe {
	height: 600px;
	width: 100%;
}

/*Save Document Button*/
.THIS .SaveDocument{
    color:#FFFFFF;
}

/*Remove Document Button*/
.THIS .RemoveDocument{
    color:#FFFFFF;
}

/*Download Document button*/
.THIS .Download-button{
    padding-right: 10px;
}

.THIS .SaveNewDocument{
    color:#FFFFFF;
}