.THIS#spinner {
    height: 280px;
    position: relative;
}
.THIS#spinner svg {
	fill: #00467F;
}
/* Search forms */
.THIS .lease-search-container {
	display: inline-block;
	padding: 0 1em;
	width: 50%;
	vertical-align: top; }
	.THIS .city { width: 200px; }
	.THIS .state { width: 50px; }
	.THIS #city-container, .THIS #state-container, .THIS #zip-code-container {
    	float: left;
    	margin-right: 12px; }	
.THIS .action-buttons-centered {
	border-top: 1px solid #e5e5e5;
	margin-top: 1em;
	padding-top: 1em;
}
.THIS .uiInput {
	margin-bottom: 0.5em;
}
.THIS .page-size-input {
	width: 50px;
}

/* Results table */
.THIS .lease-search-results {
	margin-top: 0.5em;
	width: 100%; }
	.THIS .lease-search-results td, .THIS .lease-search-results th {
		background-color: #fbfbfb;
		border: 1px solid #dadada;	
		padding: 4px;		
	} 
	.THIS .lease-search-results th {
		background-color: #f1f1f1 !important;
		color: #000;
		font-size: 0.9em;
		font-weight: bold;
	}
	.THIS td.lease-number {
	    background-color: #eff2f5 !important;
	    font-weight: bold;
	    min-width: 120px;
	    padding: 0;
	    vertical-align: middle; }
	.THIS td.lease-number a {
		color: #00467F;
	    display: block;
	    padding: 4px }
	.THIS td.lease-number a:hover {
		background-color: #e0e6eb;
		color: #002a4d;
		text-decoration: none;
	}
	.THIS td.lease-number a svg {
	    fill: #8199AF;
	    margin-right: 6px;
	    transform: scale(0.7); }
	.THIS td.lease-number a:hover svg {
		fill: #63809c;
	}

/* Create new lease */
.THIS .ret-tile dt {
    white-space: nowrap;
}
.THIS .create-tax-confirm {
    border-top: 1px solid #E7E7E7;
    clear: both;
    padding-top: 1em;
}
.THIS .slds-modal__container{
	width:70%!important;    
}

/*Create Tax Button*/
.THIS .CreateTaxSubmission{
    color:#FFFFFF;
}
.THIS .custom-small-button{
    padding:4px 8px;
    font-size:10px;
    height:18px;
    --color:#ffffff;
    --background-color:#2171B6;
}
.THIS .top-textarea-heading {
	font-family: Arial;
    font-size: 17pt;
    font-weight: bold;
    color: #0e0f0f;
    --padding-bottom:8px;
}
.THIS .mid-textarea-heading {
	font-family: Arial;
    font-size: 14pt;
    font-weight: bold;
    color: #1e1e1e;
    --padding-bottom:8px;
}