.THIS .optionCell{
    vertical-align: top;
    
}
.THIS .optionCheck{
    max-width: 20px;
    padding-top: 3px;
}
.THIS .slds-form-element__label{
    width: 200px !important;
    max-width: 200px !important;
}
.THIS .numInput label{
    width: 200px !important;
}
.THIS .numInput input{
    width: 60px;
}
.THIS .moveSelect{
    width: 3em;
}
.THIS .notifBox{
    padding:10px;
    background-color:blanchedalmond;
    text-align:center;
    border: 1px solid #ddd;
}