.custPopup {
    background-color: #FFF;
    border-width: 2px;
    border-style: double;
    border-color: #D0E7F3;
    z-index: 9999;
    left: 50%;
    padding: 10px;
    position: absolute;
    width: 700px;
    margin-left: -250px;
    top: 200px;
    border-radius: 15px;
}

.popupBackground {
	background-color: white;
	opacity: 0.20;
	filter: alpha(opacity =   70);
	position: absolute;
	width: 150%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9998;
}
a:hover {background:#ffffff; text-decoration:none;} 
a.tooltip span {display:none; padding:2px 3px; margin-left:8px; width:400px;}
a.tooltip:hover span{display:inline; position:absolute; background:#FFC; border:1px solid #cccccc; color:#000000;}