.border_top_bold    {border-top:2px}  
.border_top         {border-width:1px 0px 0px 0px}    
.border_bottom_bold {border-bottom:2.8px;border-style:solid; border-color:black !important} 
.border_bottom      {border-width:0px 0px 1px 0px}  
.border_right_bold  {border-right:2px}
.border_right       {border-width:0px 1px 0px 0px}
.border_bold        {border-width:2.8px 2.8px 2.8px 0px;}
.border_right_none  {border-right:0px}
.border_bottom_none  {border-bottom:0px}

.border_top_none  {border-top:0px}
.border_none        {border: 0px}
.border_all        {border: 1px solid rgb(75,75,75)}


.text_title         {font-size:16px; font-weight:bolder;font-family:sans-serif; text-align: center;
                     padding-top:0px;padding-bottom:2px;padding-left:5px;padding-right:4px; }
.text_header        {font-size:14px; font-weight:bold;font-family:sans-serif; 
                     text-align: center; padding-top:4px; padding-bottom:4px  }
.text_header_no_center  {font-size:14px; font-weight:bold;font-family:sans-serif; 
                           padding-top:4px;padding-bottom:4px  }
.text_large         {font-size:14px; font-family:sans-serif;  }
.text_larger        {font-family:sans-serif;font-size:13px  }
.text_normal        {font-size:12px;font-family:sans-serif; color:black }
.text_normal_plus   {font-size:13.5px;font-family:sans-serif;color:black }
.text_small         {font-size:11px;font-family:sans-serif; }
.text_bold          {font-weight:bold ;font-family:sans-serif; }
.text_underline     {text-decoration: underline;font-family:sans-serif;font-size:12.5px  }
.text_italic        {font-style: italic;font-family:sans-serif; }
.text_center        {text-align: center;}
.text_right       {text-align: right;}

table               {width:100%; border-collapse:collapse; page-break-inside: avoid;}

td                  {border-width:1px 1px 1px 0px; 
                     border-style:solid;
                     border-color: rgb(75,75,75);
                     padding: 3px;
                     vertical-align: text-top;
                     font-size:12px;
                    font-family:sans-serif;
                   }

.data_cell          { border-top:0px;
                    padding-left:18px;
                    font-size:12px; 
                    color:red  }


.data_cell_small     { border-top:0px;
                        padding-left:18px;
                        font-size:11px; 
                        color:red  }

.data_cell_inline  { border-top:0px;
                    padding-left:5px;
                    font-size:12px; 
                    color:red  }

.column             {float: left;
                    margin-right:25px;
                    }

.column_right       {float: right;}
.column_clear       {clear: both;}
.margin_left_10     {margin-left: 10px;}
.margin_left_12     {margin-left: 12px;}
.margin_left_13     {margin-left: 13px;}
.margin_left_15     {margin-left: 15px;}
.margin_left_18     {margin-left: 18px;}
.margin_left_20     {margin-left: 20px;}
.margin_left_27     {margin-left: 27px;}
.margin_left_30     {margin-left: 30px;}
.margin_left_40     {margin-left: 40px;}
.margin_left_50     {margin-left: 50px;}
.margin_left_56     {margin-left: 56px;}
.margin_left_60     {margin-left: 60px;}
.margin_left_70     {margin-left: 70px;}
.margin_left_80     {margin-left: 80px;}
.margin_left_90     {margin-left: 90px;}
.margin_left_100    {margin-left: 100px;}
.margin_left_150    {margin-left: 150px;}
.margin_bottom_3    {margin-bottom: 3px}
.margin_bottom_4    {margin-bottom: 4px}
.margin_bottom_5    {margin-bottom: 5px}
.margin_bottom_7    {margin-bottom: 7px}
.margin_bottom_8    {margin-bottom: 8px}
.margin_bottom_10    {margin-bottom: 10px}
.margin_top_2       {margin-top: 2px}
.margin_top_4       {margin-top: 4px}
.margin_top_5       {margin-top: 5px}
.margin_top_6       {margin-top: 6px}
.margin_top_7       {margin-top: 7px}
.margin_top_8       {margin-top: 8px}
.margin_top_10       {margin-top: 10px}
.margin_top_50      {margin-top: 50px}
.background_grey    {background-color: gray;}

.padding_top_0   {padding-top:0px}
.padding_top_3   {padding-top:3px}
.padding_top_4   {padding-top:4px}
.padding_top_5   {padding-top:5px}
.padding_top_8   {padding-top:8px}
.padding_top_10     {padding-top:10px}
.padding_top_20     {padding-top:20px}
.padding_top_50     {padding-top:50px}
.padding_left_0   {padding-left:0px}
.padding_left_5   {padding-left:5px}
.padding_left_12   {padding-left:12px}
.padding_left_16   {padding-left:16px}
.padding_left_60   {padding-left:60px}
.padding_bottom_0   {padding-bottom:0px}
.padding_bottom_2   {padding-bottom:2px}
.padding_bottom_3   {padding-bottom:3px}
.padding_bottom_4   {padding-bottom:4px}
.padding_bottom_5   {padding-bottom:5px}
.padding_bottom_7   {padding-bottom:7px}
.padding_bottom_10   {padding-bottom:10px}
.padding_top_0   {padding-top:0px}
.padding_right_0   {padding-right:0px}
.padding_right_3   {padding-right:3px}
.padding_none       {padding:0px}

.vertical_align_bottom  {vertical-align: bottom}
.vertical_align_middle  {vertical-align: middle}

.footer {
    display: block;
    text-align:right;
    position: running(footer);
    border-top-width: 2.8px; 
    border-top-style: solid;
    border-top-color: black;
}
.pagenumber:before {
    content: counter(page);
}

.pagecount:before {
    content: counter(pages);
}

.height_spaced   {height: 15px}
.height_page_header {height: 11px}
.button {
      background-color: #D3D3D3;
      border: 1px solid black;
      color: black;
      padding: 5px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 11.6px;
      margin: 0px 10px 4px 0px;
      cursor: pointer;
      border-radius: 15px;
    }

