.THIS .slds-container_small {
    min-width:20rem ;
    max-width:20rem ;
}
.THIS .slds-width-fill{
    width: -webkit-fill-available;
}
.THIS .slds-tree__group-header {
    margin-top: 10px;
}
.THIS .slds-truncate {
    white-space: pre-wrap;
}