.THIS .treeLabel{

    width: 280px;
    display: inline-block;
}
.THIS .branchWrapper{
    vertical-align: top;
    padding-bottom:3px;
}
.THIS .branchHeader{
    vertical-align: top;
}
.THIS .branchHeader:hover{
    background-color: #dfd5d5;
}
.THIS .branchSelected{
    background-color: #d6e7f7;
    box-shadow: #1589ee 4px 0 0 inset;
}
.THIS .leftSidebar{
    width: 395px;
}